/*======= (Início) Seção About Services========*/
.about_section {
  width: 100vw;
  flex-direction: row;
  display: flex;
}
.about_img {
  display: flex;
  position: relative;
  right: 0;
  z-index: -1;
  overflow: hidden;
}
.content_about {
  display: flex;
  justify-content: space-evenly;
  padding: 137px 0 0px 0px;
  flex-direction: column;
  gap: 36px;
  width: 420px;
  height: 456px;
}
.content_about h2 {
  color: #2d3561;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  letter-spacing: 0.96px;
}

.content_about p {
  font-family: "Muli";
 font-style: normal;
    font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.48px;
  color: #9e9baf;
}

.content_about .button {
  width: 150px;
  height: 52px;
  padding: 16px 32px;
  display: flex;
  background-color: #badc58;
  border-radius: 5px;

  cursor: pointer;
}
.content_about .button a {
  font-family: "Muli";
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
/*======= (Fim) Seção About Services========*/
@media screen and (max-width: 1080px) {
  .about_img {
    display: none;
  }
  .content_about {
    padding: 0 30px 0 30px;
    gap: 8px;
  }
  .content_about h2{
    line-height: 33px;
  }
  .content_about p{
    font-size: 15px;
    line-height: 17px;
  }
}
